.head{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C1BAA1;
  padding: 20px;
}
.title{
  font-size: 2rem;
  padding: 20px;
  font-weight: 500;

}
.container{
  
  width: 100%;
  height: 100vh;
  background-image: url(./banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.form{
  width: 403px;
  height: 560px;
  background-color: #fff;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
  position: absolute;
  text-align: center;
  top: 55px;
  left: 880px;
  border-radius: 5px;
}
.content{
  margin: 43px 0 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.go-home{
  color: #000;

}
.fa-arrow-left{
  background-color: #C1BAA1;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
}
.go-home:hover .fa-arrow-left{
  transform: translateX(-10px);
}
#email{
  border-radius: 0;
  width: 338px;
  margin-bottom: 34px;
  
}
#password{
  width: 338px;
  padding: 10px 0;
  margin-bottom: 34px;
}
#password::placeholder{
  padding-left: 10px;
}
.submit-form{
  display: inline-block;
  width: 338px;
  margin-bottom: 5px;
  padding: 10px 0;
  background-color:#705C53  ;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.submit-form:hover{
  opacity: 0.8;
}
.forget-pass{
  display: inline-block;
  margin: 10px ;
  color: #6482AD;
  text-decoration: underline;

}
.forget-pass:hover{
  opacity: 0.9;
  text-decoration: none;
}
fieldset{
}
.btn-login{
  display: inline-block;
  margin-top: 29px;
  width: 165px;
  padding: 10px 0 ;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid ;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.btn-login:hover{
  opacity: 0.8;
}
.fa-facebook{
  color: #024CAA;
}
.fa-google{
  color: #6A9C89;
}
.or{
 text-align: center;
  margin-top: 23px;
  opacity: 0.5;
}
.or::before{
  content: "";
  display: inline-block;
  width: 139px;
  height: 1px;
  background-color: #C1BAA1;
  position: absolute;
  left: 30px;
  top: 7px;
  
}
.or::after{
  content: " ";
  display: inline-block;
  width: 139px;
  height: 1px;
  background-color: #C1BAA1;
  position: absolute;
 margin-left: 10px;
  top: 7px;
}
.class-or{
  position: relative;
}
.dif-login{
  text-align: center;
}
.new-login{
  margin-top: 40px;
  text-align: center;
  opacity: 0.6;
}
.new-login a{
  color: #1E201E;
 font-weight: 600;
}
.new-login a:hover{
  opacity: 0.8;
}