
main{
    display: flex;
    gap: 20px;
}
.nav-menu{
    width: 30%;
    border-right:2px solid #123458 ;
}
.list-menu{
    position: sticky;
    z-index: 0;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.btn-link__menu{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #123458;
  background-color: #fff;
  border: 1px solid #123458;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.6rem;

}
.btn-link__menu:hover{
  background-color: #123458;
  color: #fff;
}



/* ===========================Giao diện menu chính===================== */
.right-menu {
  margin-left: 20px;
  width: 70%;
}

.menu-title {
margin-top: 40px;
  font-size: 3.4rem;
  font-weight: 600;
  color: #ab886d;
}

.products-zone {
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

}

.product {
  width: 350px;
  height: 500px;
  justify-items: center;
}

.products-name {
margin-top: 30px;
  color: black;
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin: 5px;
}

.buy-button {
  display: inline-block;
  color: #123458;
  font-weight: 600;
  padding: 10px;
  background-color: #fff;
  opacity: 0.7;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  width: 100px;
}
.buy-button:hover {
  background-color: #123458;
  color: #fff;
}
.img-menu{
    width: 300px;
    height: 310px;
    object-fit: cover;  
    border-radius: 10px;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
.btn-menu.active {
    background-color: #123458;
    color: #fff;
}
